<h1>Your Complaint Has Been Sent</h1>
<p>Thank you for submitting your complaint. We will review it and get back to you if necessary.</p>

<%= link_to "Continue Shopping", clients_products_path, class: "btn btn-primary" %>
